<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newshunt.appview">

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".common.ui.activity.LikesListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="LikesListOpen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--android:launchMode="singleTop"-->
        <activity
            android:name=".common.ui.activity.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="NewsHomeOpen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="FollowHomeOpen"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="NewsDetailOpen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="galleryPhotoAction" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="viewPhotoAction" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="EntityDetailOpen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="OpenAddPageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ReorderPageOpeny" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="allComments" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ImportContactsAction" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.ui.activity.AdjunctLanguageDialogBoxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarDay"/>

        <activity
            android:name="com.newshunt.news.view.activity.AdDummyActivity"
            android:theme="@style/DH.Theme.Transparent"
            android:exported="false" />

        <activity
            android:name="com.newshunt.appview.common.postcreation.view.activity.CreatePostActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="CreatePostOpen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.newshunt.appview.common.postcreation.view.activity.PostLocationActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.newshunt.appview.common.postcreation.view.activity.PostPrivacyActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--<activity
            android:name="com.newshunt.news.view.activity.NewsActionBarActivity"
            android:screenOrientation="portrait" />-->

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity
            android:name=".common.group.ui.activity.GroupDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.openGroupDetail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.group.ui.activity.PhoneBookActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="${applicationId}.openContactList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.group.ui.activity.GroupEditorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="${applicationId}.editCreateGroup" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.group.ui.activity.GroupSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.groupSetting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.group.ui.activity.MemberListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.groupMembersList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.newshunt.news.view.activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="LaunchSearchDH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.ui.activity.LocationSelectionActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.locationSelection" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.group.ui.activity.GroupInvitationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.groupInvitation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.newshunt.news.view.activity.UserFollowActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.openFollowEntitiesScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.newshunt.news.view.activity.LocationBottomBarActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.openLocalScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.newshunt.news.view.activity.LocationVideoListingActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.openLocalVideo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".common.group.ui.activity.ApprovalsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.pendingApprovals" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.newshunt.news.view.activity.NewsHomeRouterActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:exported="false">
            <intent-filter>
                <action android:name="NewsHomeRouterOpen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.ui.activity.RuntimePermissionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="${applicationId}.openRuntimePermissionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.newshunt.appview.common.accounts.view.activity.AccountsLinkingActivity"
            android:exported="false"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.accountsLink" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.newshunt.appview.common.postcreation.view.service.UploadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="com.newshunt.app.helper.AppFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="com.newshunt.appview.common.postcreation.view.receiver.CreatePostReceiver"
            android:exported="false" />

    </application>

</manifest>