<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newshunt.notification"
    tools:ignore="UniquePermission">

    <!-- Keeps the processor from sleeping when a message is received. -->
    <!-- Permission for using internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="false">
        <service
            android:name=".view.service.NewsStickyHelperService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".view.activity.ActionableNotificationActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:configChanges="uiMode"
            android:theme="@style/DH.Theme.Transparent">
            <intent-filter>
                <action android:name="com.eterno.ACTION_NOTIFICATION_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.BigActionableNotificationActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:configChanges="uiMode"
            android:theme="@style/DH.Theme.Transparent">
            <intent-filter>
                <action android:name="com.eterno.ACTION_BIG_NOTIFICATION_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".view.receiver.NotificationAlarmReceiver"
            android:exported="false" />

        <service android:name=".view.service.FcmIntentService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".view.service.NewsStickyService"
            android:exported="false"
            android:process=":stickyProcess">
            <intent-filter>
                <action android:name="${applicationId}.sticky_notification_start" />
            </intent-filter>
        </service>
        <service
            android:name=".view.service.CricketStickyService"
            android:exported="false"
            android:process=":stickyProcess">
            <intent-filter>
                <action android:name="${applicationId}.sticky_notification_start" />
            </intent-filter>
        </service>
        <service
            android:name=".view.service.GenericStickyService"
            android:exported="false"
            android:process=":stickyProcess">
            <intent-filter>
                <action android:name="${applicationId}.sticky_notification_start" />
            </intent-filter>
        </service>

        <receiver
            android:name=".view.receiver.StickyNotificationFinishReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.actionStickyNotificationFinish" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.actionStickyNotificationExpiryTimeChanged" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.removeFromTrayJobDone" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.sticky_notification_close" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.rescheduleStickyNotification" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".view.receiver.StickyNotificationStartReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.stickyStarted" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".view.receiver.NotificationCtaReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_follow" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_comment" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_reply" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_share" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_join" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_repost" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_share_small" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_follow_small" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_comment_small" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_reply_small" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_join_small" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.notification_cta_repost_small" />
            </intent-filter>
        </receiver>

        <service
            android:name=".view.service.NotificationSocialPullService"
            android:exported="false" />

        <receiver
            android:name=".view.receiver.NotificationDebugReceiver"
            android:exported="true" />
    </application>

</manifest>