<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015 Newshunt. All rights reserved.
  -->

<manifest
    package="com.newshunt.news.model"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <receiver android:name="com.newshunt.news.model.receiver.BootCompletedActionableReceiver"
            android:exported="true" android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
