<!--
  ~ Copyright (c) 2015 Newshunt. All rights reserved.
  -->
<manifest package="com.newshunt.dhutil"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.customtabs"></uses-sdk>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup">

        <receiver
            android:name="com.newshunt.receiver.KillProcessAlarmReceiver"
            android:enabled="true"
            android:process=":notifier" />

        <activity
            android:name=".view.RateUsDialogActivity"
            android:theme="@style/NoActionBarDay"
            android:configChanges="uiMode" />

        <activity
            android:name=".view.SharableAppDialogActivity"
            android:theme="@style/NoActionBarDay"
            android:configChanges="uiMode" />

        <activity
            android:name=".view.activity.AppSectionHomeRoutingActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:exported="false">
            <intent-filter>
                <action android:name="appSectionHomeRouterOpen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".view.receiver.CustomTabsBroadcastReceiver"
            android:enabled="true"></receiver>
        <service
            android:name=".view.service.KeepAliveService"
            android:exported="true" />

        <provider
            android:name="com.newshunt.app.helper.AppFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
